.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $color-grey-light-3;
  &__left {
    display: flex;
    align-items: center;
    flex: 1;
  }
  &__logo {
    width: 5rem;
    margin: 0 1rem;
  }
  &__search {
    width: 50%;
    height: 3.5rem;
    margin: 0 auto;
    border-radius: 100rem;
    border: none;
    outline: none;
    background-color: $color-grey-light-1;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: $color-grey-dark-1;
    transition: all 0.2s;
    &::placeholder {
      color: $color-grey-dark-2;
    }
    &:focus {
      width: 55%;
    }
  }
  &__right {
    display: flex;
    flex: 0.2;
    align-items: center;
    &__name {
      margin: 0 1rem;
    }
  }
  &__icons {
    display: flex;
    margin: 0 1rem;
    color: $color-grey-dark-3;
    & > * {
      margin-right: 2rem;
    }
  }
  &__profile {
    width: 4rem;
    border-radius: 50%;
  }
}
